# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

2023-04-19 13:17:23.925139: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student_loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/mbc/ai/m6/datasets/student_loans.csv"


# Review the DataFrame

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
# Review the data types associated with the columns

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [4]:
# Define the target set y using the credit_ranking column


# Display a sample of y

array([5, 5, 5, 6, 5])

In [5]:
# Define features set X by selecting all columns but credit_ranking


# Review the features DataFrame

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [6]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [7]:
# Create a StandardScaler instance


# Fit the scaler to the features training dataset


# Fit the scaler to the features training dataset

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [8]:
# Define the the number of inputs (features) to the model


# Review the number of features

11

In [9]:
# Define the number of neurons in the output layer

In [10]:
# Define the number of hidden nodes for the first hidden layer


# Review the number hidden nodes in the first layer

6

In [11]:
# Define the number of hidden nodes for the second hidden layer


# Review the number hidden nodes in the second layer

3

In [12]:
# Create the Sequential model instance

In [13]:
# Add the first hidden layer

In [14]:
# Add the second hidden layer

In [15]:
# Add the output layer to the model specifying the number of output neurons and activation function

In [16]:
# Display the Sequential model summary

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 72

 dense_1 (Dense)             (None, 3)                 21

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 97
Trainable params: 97
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `mse` loss function, the `adam` optimizer, and the `mse` evaluation metric.

In [17]:
# Compile the Sequential model

In [18]:
# Fit the model using 50 epochs and the training data

Epoch 1/50
38/38 [==============================] - 1s 1ms/step - loss: 35.5717 - mse: 35.5717
Epoch 2/50
38/38 [==============================] - 0s 904us/step - loss: 31.8451 - mse: 31.8451
Epoch 3/50
38/38 [==============================] - 0s 895us/step - loss: 28.7742 - mse: 28.7742
Epoch 4/50
38/38 [==============================] - 0s 818us/step - loss: 25.4746 - mse: 25.4746
Epoch 5/50
38/38 [==============================] - 0s 845us/step - loss: 21.6942 - mse: 21.6942
Epoch 6/50
38/38 [==============================] - 0s 785us/step - loss: 17.6323 - mse: 17.6323
Epoch 7/50
38/38 [==============================] - 0s 749us/step - loss: 13.7109 - mse: 13.7109
Epoch 8/50
38/38 [==============================] - 0s 784us/step - loss: 10.4151 - mse: 10.4151
Epoch 9/50
38/38 [==============================] - 0s 764us/step - loss: 7.9269 - mse: 7.9269
Epoch 10/50
38/38 [==============================] - 0s 694us/step - loss: 6.2247 - mse: 6.2247
Epoch 11/50
38/38 [==============================] - 0s 728us/step - loss: 5.0672 - mse: 5.0672
Epoch 12/50
38/38 [==============================] - 0s 742us/step - loss: 4.3061 - mse: 4.3061
Epoch 13/50
38/38 [==============================] - 0s 718us/step - loss: 3.7753 - mse: 3.7753
Epoch 14/50
38/38 [==============================] - 0s 759us/step - loss: 3.3965 - mse: 3.3965
Epoch 15/50
38/38 [==============================] - 0s 736us/step - loss: 3.1161 - mse: 3.1161
Epoch 16/50
38/38 [==============================] - 0s 771us/step - loss: 2.8951 - mse: 2.8951
Epoch 17/50
38/38 [==============================] - 0s 716us/step - loss: 2.7068 - mse: 2.7068
Epoch 18/50
38/38 [==============================] - 0s 721us/step - loss: 2.5462 - mse: 2.5462
Epoch 19/50
38/38 [==============================] - 0s 694us/step - loss: 2.4026 - mse: 2.4026
Epoch 20/50
38/38 [==============================] - 0s 686us/step - loss: 2.2733 - mse: 2.2733
Epoch 21/50
38/38 [==============================] - 0s 705us/step - loss: 2.1587 - mse: 2.1587
Epoch 22/50
38/38 [==============================] - 0s 802us/step - loss: 2.0527 - mse: 2.0527
Epoch 23/50
38/38 [==============================] - 0s 768us/step - loss: 1.9560 - mse: 1.9560
Epoch 24/50
38/38 [==============================] - 0s 764us/step - loss: 1.8643 - mse: 1.8643
Epoch 25/50
38/38 [==============================] - 0s 767us/step - loss: 1.7787 - mse: 1.7787
Epoch 26/50
38/38 [==============================] - 0s 742us/step - loss: 1.6937 - mse: 1.6937
Epoch 27/50
38/38 [==============================] - 0s 743us/step - loss: 1.6153 - mse: 1.6153
Epoch 28/50
38/38 [==============================] - 0s 659us/step - loss: 1.5448 - mse: 1.5448
Epoch 29/50
38/38 [==============================] - 0s 664us/step - loss: 1.4734 - mse: 1.4734
Epoch 30/50
38/38 [==============================] - 0s 660us/step - loss: 1.4067 - mse: 1.4067
Epoch 31/50
38/38 [==============================] - 0s 660us/step - loss: 1.3430 - mse: 1.3430
Epoch 32/50
38/38 [==============================] - 0s 674us/step - loss: 1.2850 - mse: 1.2850
Epoch 33/50
38/38 [==============================] - 0s 650us/step - loss: 1.2287 - mse: 1.2287
Epoch 34/50
38/38 [==============================] - 0s 653us/step - loss: 1.1768 - mse: 1.1768
Epoch 35/50
38/38 [==============================] - 0s 667us/step - loss: 1.1255 - mse: 1.1255
Epoch 36/50
38/38 [==============================] - 0s 647us/step - loss: 1.0758 - mse: 1.0758
Epoch 37/50
38/38 [==============================] - 0s 649us/step - loss: 1.0322 - mse: 1.0322
Epoch 38/50
38/38 [==============================] - 0s 677us/step - loss: 0.9886 - mse: 0.9886
Epoch 39/50
38/38 [==============================] - 0s 780us/step - loss: 0.9472 - mse: 0.9472
Epoch 40/50
38/38 [==============================] - 0s 786us/step - loss: 0.9085 - mse: 0.9085
Epoch 41/50
38/38 [==============================] - 0s 792us/step - loss: 0.8703 - mse: 0.8703
Epoch 42/50
38/38 [==============================] - 0s 806us/step - loss: 0.8347 - mse: 0.8347
Epoch 43/50
38/38 [==============================] - 0s 782us/step - loss: 0.8020 - mse: 0.8020
Epoch 44/50
38/38 [==============================] - 0s 755us/step - loss: 0.7722 - mse: 0.7722
Epoch 45/50
38/38 [==============================] - 0s 709us/step - loss: 0.7434 - mse: 0.7434
Epoch 46/50
38/38 [==============================] - 0s 719us/step - loss: 0.7172 - mse: 0.7172
Epoch 47/50
38/38 [==============================] - 0s 679us/step - loss: 0.6948 - mse: 0.6948
Epoch 48/50
38/38 [==============================] - 0s 647us/step - loss: 0.6748 - mse: 0.6748
Epoch 49/50
38/38 [==============================] - 0s 646us/step - loss: 0.6539 - mse: 0.6539
Epoch 50/50
38/38 [==============================] - 0s 645us/step - loss: 0.6367 - mse: 0.6367

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [19]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data


# Display the model loss and accuracy results

13/13 - 0s - loss: 0.7035 - mse: 0.7035 - 99ms/epoch - 8ms/step
Loss: 0.7035035490989685, Accuracy: 0.7035035490989685

### Step 4: Save and export your model to an HDF5 file, and name the file `student_loans.h5`.

In [20]:
# Set the model's file path


# Export your model to a HDF5 file

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [21]:
# Set the model's file path


# Load the model to a new object

### Step 2: Make predictions on the testing data.

In [22]:
# Make predictions on the testing data

13/13 [==============================] - 0s 678us/step

### Step 3: Create a DataFrame to compare the predictions with the actual values.

In [23]:
# Create a DataFrame to compare the predictions with the actual values

### Step 4: Display a sample of the DataFrame you created in step 3.

In [24]:
# Display sample data

   predictions  actual
0            5       5
1            5       6
2            6       6
3            5       6
4            7       6
5            6       6
6            6       6
7            4       5
8            7       5
9            5       5